@model IEnumerable<Core.Entities.Service>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="margin:15px;">
    <h2>الخدمات</h2>
    <hr  style="width:90%"/>
    <div class="row">
        @foreach (var service in  Model)
        {
            <div class="col-md-3" style="margin-bottom:20px;">

            <div class="card" style="border:1px solid;padding:5px;box-shadow:-5px -2px 8px">

                <!-- wrap text in a div -->
                <div>
                    <h1>@service.Name</h1>
                    <hr />
                    <div class="collapse mb-3" id="collapseWidthID_@service.ID">
                        @service.Description
                        <br />
                        <div style="text-align:end">
                            <a asp-action="@service.Link" class="btn btn-primary">بدأ الخدمة</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("super_admin"))
                            {
                                <a asp-action="Edit" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-secondary" style="min-width:fit-content">تعديل</a>

                                @if (service.IsActive == true)
                                {
                                    <a asp-action="DeActive" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-danger" style="min-width:fit-content">الغاء التفعيل</a>
                                }
                                else
                                {
                                    <a asp-action="Active" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-info" style="min-width:fit-content">  تفعيل</a>
                                }
                            }
                        </div>
                        <hr />
                    </div>
                </div>
                <!-- wrap button in a div -->
                <div>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthID_@service.ID" aria-expanded="false" aria-controls="collapseWidthExample" style="min-width:-webkit-fill-available">اعرف اكثر  </button>
                </div>
            </div>
            </div>
@* 
            <div class="col-md-3" style="margin-bottom:20px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@service.Name</h5>
                        <hr />
                        <p class="card-text">@service.Description.</p>
                        <div style="text-align:end">

                        <a asp-action="@service.Link" class="btn btn-primary">بدأ الخدمة</a>
                        @if (User.IsInRole("Admin") || User.IsInRole("super_admin"))
                        {
                            <a asp-action="Edit" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-secondary" style="min-width:fit-content">تعديل</a>

                            @if (service.IsActive == true)
                            {
                                <a asp-action="DeActive" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-danger" style="min-width:fit-content">الغاء التفعيل</a>
                            }else{
                                <a asp-action="Active" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-info" style="min-width:fit-content">  تفعيل</a>
                            }
                        }
                        </div>

                    </div>
                </div>
            </div> *@
        }
    </div>
  
</div>

<div class="row">
    <section id="cards" class="py-5 bg-white">
        <div class="container">
            <div class="row">
                <!-- diplay cards as flexbox, direction column and space between -->
                <div class="col-12 col-sm-4 d-flex flex-column justify-content-between">
                    <!-- wrap text in a div -->
                    <div>
                        <h1>Shootings</h1>
                        <p>Willkommen bei den ganzen tollen Elementen</p>
                        <div class="collapse mb-3" id="collapseWidthExample1">
                            This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
                        </div>
                    </div>
                    <!-- wrap button in a div -->
                    <div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
<partial name="_NotificationPartial" />
}