@model IEnumerable<Core.Entities.Service>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="margin:15px;">
    <h2>الخدمات</h2>
    <hr  style="width:90%"/>
    <div class="row">
        @foreach (var service in  Model)
        {
            <div class="col-md-3" style="margin-bottom:20px;">
                <div class="card" style="border:1px solid;padding:5px;box-shadow:-5px -2px 8px">
                    <!-- wrap text in a div -->
                    <div>
                        <h1>@service.Name</h1>
                        <hr />
                            <p>
                                @service.Description.Substring(0, Math.Min(service.Description.Length, 30))
                                ..... <a class="link" data-bs-toggle="collapse" data-bs-target="#collapseWidthID_@service.ID" aria-expanded="false" aria-controls="collapseWidthExample" style="min-width:-webkit-fill-available"> المزيد  </a>
                            </p>
                        <div class="collapse mb-3" id="collapseWidthID_@service.ID">
                            @service.Description
                            <br />
                            <div style="text-align:end">
                                <a asp-action="@service.Link" class="btn btn-primary">بدأ الخدمة</a>
                                @if (User.IsInRole("Admin") || User.IsInRole("super_admin"))
                                {
                                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-secondary" style="min-width:fit-content">تعديل</a>

                                    @if (service.IsActive == true)
                                    {
                                        <a asp-action="DeActive" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-danger" style="min-width:fit-content">الغاء التفعيل</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Active" asp-controller="Home" asp-route-id="@service.ID" class="btn btn-info" style="min-width:fit-content">  تفعيل</a>
                                    }
                                }
                            </div>
                            <hr />
                        </div>
                    </div>
                    <!-- wrap button in a div -->
                </div>
            </div>
        }
    </div>
  
</div>


@section Scripts {
<partial name="_NotificationPartial" />
}